.spacer {
  flex: 1 1 auto;
  max-width: 900px;
}

.table-container {
  margin-bottom: 24px;
  background: #E1F5FE;
}

.delete-button{
  color: red;
}

/* Remove the blue outline from a selected option. */
*:focus {
outline: none;
}
