#view-user-card {
  margin: 50px 50px 50px 50px;
  padding: 0px 0px 0px 0px;
}

#user-card-content {
  text-align: center;
  padding: 30px 30px 30px 30px;
}

.spacer {
  flex: 1 1 auto;
}

.delete-button{
  color: red;
}

/* Remove the blue outline from a selected option. */
*:focus {
outline: none;
}
